PORT=3000
NODE_ENV=development
CORS_ORIGIN=*
SSL_KEY_PATH=certs/key.pem
SSL_CERT_PATH=certs/cert.pem
ENABLE_HTTPS=false

# STUN / TURN Credentials
STUN_SERVER=stun:stun.l.google.com:19302
TURN_SERVER=
TURN_USERNAME=
TURN_CREDENTIAL=
